<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Smoke Test</title>
  </head>
  <body ng-app="SmokeApp">
    <main ng-controller="SmokeController as smoke">
      <h1>{{smoke.smoke}}</h1>
      <div ng-repeat="cat in smoke.cats">
        <cat-directive catinfo="cat"></cat-directive>
      </div>
      <div ng-repeat="doggy in smoke.dogs">
        <dog-directive doginfo="doggy"></dog-directive>
      </div>
    </main>

    <script src="bundle.js"></script>
  </body>
</html>
